$bg-color: #ffffff;
$primary-color: #FD7411;
$text-color: #031332;
$unhover-color: #E3E3E3;
$secondary-color: #2871FF;
$primary-font: 'Monsterrat', sans-serif;
$secondary-font: 'Urbanist', sans-serif;

$text-font-size: 20px;
$header-font-size: 40px;

h5 {
    font-size: 20px;
}

h4 {
    font-size: 32px;
    font-family: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}