@import 'config';

.banner {
    margin-top: 20px;
    padding: 24px 80px;

    img {
        width: 1120px;
        height: 400px;
        border-radius: 20px;
    }

    .text {
        padding: 0px 32px 32px 16px;
        justify-self: start;
        margin-top: -80px;
        color: $bg-color;

        h5 {
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.content1 {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    margin-top: 20px;
    gap: 32px;

    .img-col-6 {
        
        img{
        width: 553px;
        height: 300px;
        border-radius: 16px;
        flex-basis: 50%;
        }
    }

    .para-col-6 {
        flex-basis: 50%;

        h5 {
            height: 36px;
        }

        h4 {
            height: 55px;
        }

        p {
            height: 180px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; 
            color: $text-color;
        }

        .more {
            justify-content: center;
            align-items: center;
        
        a {
            text-decoration: none;
            display: inline;
            background-color: $secondary-color;
            color: $bg-color;
            width: 149px;
            height: 44px;
            padding: 8px 24px;
            font-size: 18px;
            border-radius: 8px;
        }
    }

    }
}

#popular_news {
    margin-top: 20px;
    padding: 24px 80px;
    color: $text-color;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content2 {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1; 

    .first {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }

    .second {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }

    .third {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}

.content3 {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1; 

    .first {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }

    .second {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }

    .third {
        flex-basis: 30%;
        .img-col-4 {
            img {
            width: 363px;
            height: 300px;
            border-radius: 16px;
            }
        }

        .para-col-4 {
            h5 {
                margin-top: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
            h4 {
                margin-top: 8px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 363px;
                height: 29px;
            }
            p {
                margin-top: 16px;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}