@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Urbanist:wght@500;700&display=swap');

//Variables
$black-color: #031332;  
$white-color:#FFFFFF;   
$orange-color: #FD7411;  
$blue-color:#2871FF; 
$heading-font-family: 'Montserrat', sans-serif;
$text-font-family:'Urbanist', sans-serif;

$font-weight: (
   "700": 700,
   "600": 600,
   "500": 500,
   "400": 400
);

$font-size: ( 
   heading1: 64px,
   heading2: 40px,
   heading3: 32px,
   heading4: 24px,
   heading5: 22px,
   text1: 20px,
   text2: 18px,
   text3: 16px
);

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   width: auto;
}
