@import 'config';

#p {
    padding: 0px 80px 40px 80px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#heading {
    margin-top: 20px;
    padding: 0px 80px 24px 80px;
    color: $text-color;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner {
    margin-top: 20px;
    padding: 24px 80px;

    img {
        width: 1120px;
        height: 400px;
        border-radius: 20px;
    }
}

.banner_label {
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 120px;

    h4 {
        width: 285px;
        font-size: 40px;
        font-weight: 600;
    }

    p {
        width: 741px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: $text-color;
    }

    .contact {
        width: 132px;
        height: 44px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 5px;

        a {
            text-decoration: none;
            color: $bg-color;
            background-color: $primary-color;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            padding: 8px 24px;
            border-radius: 8px;
        }
    }
}

@mixin responsive_img {

    position: relative;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 16px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.navy_banner {
    margin: 0px 80px;
    padding: 40px;
    width: 1120px;
    height: 443px;
    border-radius: 24px;
    background-color: $text-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px;

    .img-col-2 {
        width: 363px;
        height: 363px;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 16px;

        img {
            max-height: 100%;
        }
    }

    .para-col-2 {
        width: 637px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            color: $bg-color;
            padding-bottom: 24px;
            font-size: 40px;
            font-weight: 600;
        }

        p {
            color: $bg-color;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            padding-bottom: 40px;
        }

        .searchbar {
            display: flex;
            flex-direction: row;

            input {
                height: 44px;
                width: 300px;
                padding: 8px 16px;
                background-color: $text-color;
                border: 1px solid $bg-color;
                border-radius: 8px 0px 0px 8px;
                background-color: $text-color;
                color: $bg-color;
                font-weight: medium;
                font-size: 18px;
                font: $secondary-font;
                color: $bg-color;

                &::placeholder
                {
                    
                color: $bg-color;
                font-weight: medium;
                font-size: 18px;
                font: $secondary-font;
                color: $bg-color;
                }

            }



            .contact {
                // display: flex;
                width: 132px;
                height: 44px;
                background-color: $primary-color;
                padding: 8px 24px;
                border-radius: 0px 8px 8px 0px;
                // gap: 8px;
                // margin-top: 5px;

                a {
                    text-decoration: none;
                    color: $bg-color;
                    background-color: $primary-color;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    text-transform: uppercase;
                }
            }
        }

    }

}

.service_detail {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 120px;;

    .img-col-2 {
        width: 457px;
        height: 300px;
        @include responsive_img();
    }

    .para-col-2 {
        width: 552px;

        h4 {
            font-size: 40px;
            font-weight: 600;
            height: 55px;
        }

        p {
            height: 180px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            color: $text-color;
        }
    }

    #gap {
        height: 80px;
    }
}

@mixin our_work_mixin {
    flex-basis: 50%;

    .img-col-2 {
        width: 552px;
        height: 300px;

        @include responsive_img();
    }

    .para-col-2 {
        h4 {
            margin-top: 16px;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 552px;
            height: 39px;
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            width: 552px;
            line-height: 28px;
        }
    }
}

.our_work {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    flex: 1;
    gap: 16px;
    margin-bottom: 120px;

    .first {
        @include our_work_mixin();
    }

    .second {
        @include our_work_mixin();
    }
}

@mixin our_talented_devs_mixin {
    flex-basis: 25%;

    .img-col-4 {
        width: 268px;
        height: 268px;
        @include responsive_img();
    }

    .para-col-4 {
        h4 {
            margin-top: 8px;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 268px;
            height: 29px;
        }

        p {
            margin-top: 16px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            width: 268px;
            line-height: 28px;
        }
    }
}

.our_talented_devs {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 120px;

    .first {
        @include our_talented_devs_mixin();
    }

    .second {
        @include our_talented_devs_mixin();
    }

    .third {
        @include our_talented_devs_mixin();
    }

    .fourth {
        @include our_talented_devs_mixin();
    }
}

@mixin our_services_mixin {
    flex-basis: 30%;

    .img-col-3 {
        position: relative;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 16px;
        width: 363px;
        height: 150px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .para-col-3 {
        h4 {
            margin-top: 16px;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 363px;
            height: 29px;
        }
    }
}

.our_services {
    display: flex;
    padding: 0px 80px 40px 80px;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 120px;

    .first {
        @include our_services_mixin();
    }

    .second {
        @include our_services_mixin();

    }

    .third {
        @include our_services_mixin();

    }
}